@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Poppins:wght@100;400;700&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-color: #22254b;

  --secondary-color: #373b69;
  /* --secondary-color: #3d065a; */
}
body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #373b69;
  outline: 1px solid #22254b;
}

header {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

h1 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  font-size: 44px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  transition: all 1s;
}
h1 a {
  color: inherit;
}
h1::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 6px;
  width: 3.2rem;
  background-color: #7378c5;
  transition: 1s;
}
h1:hover::after {
  width: 10rem;
}
.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.8rem 1.4rem;
  border-radius: 50px;
  font-size: 1.3rem;
  color: #fff;
  font-family: inherit;
  align-self: center;
}
.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}
.search::placeholder {
  color: #7378c5;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.movie,
.card {
  z-index: 1;
  width: 300px;
  margin: 1.8rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.6rem 1.6rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
  text-decoration: none;
  font-size: 1.5rem;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.45rem 0.8rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1.4rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  text-decoration: none;
  color: #444;
  font-size: 1.2rem;
}
.movie:hover .overview {
  transform: translateY(0);
}

.flexES {
  display: flex;
  color: #eee;
  margin-left: 1rem;
  gap: 0.5rem;
}
.seasonNum,
.episodeNum {
  padding: 0 1rem;
  background-color: #22254b;
  border-radius: 10px;
}
#displayNum {
  color: white;
  font-weight: bold;
  align-self: center;
  font-size: 1.4rem;
}
.hide {
  display: none;
}
#form {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 2rem;
}
a {
  padding: 0;
  margin: 0;

  text-decoration: none;
}
.footer-content {
  text-align: center;
  background-color: var(--secondary-color);
  /* height: 5rem; */
  padding: 3rem;
  color: #fff;
  margin-top: 8rem;
  font-size: 1.4rem;
}
.footer-content p a {
  color: #03a9f4;
}
/*  */

.custom-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #888;
  /* margin-top: 25px; */
  align-self: center;
}

.custom-select select {
  display: block;
  width: 250px;
  min-height: 35px;
  background: #cbe7ff;
  border-radius: 3px;
  border: 2px solid #2196f3;
  outline: none;
  padding: 0 20px 0 10px;
  margin-top: 5px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.custom-select::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #222;
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.custom-select .selector-options {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  /* background: #11436b; */
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  width: 96%;
  position: absolute;
  left: 2%;
  top: 35%;
}

.custom-select .selector-options li {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-select .selector-options li:hover {
  background: #03a9f4;
}

@media only screen and (max-width: 480px) {
  .header {
    height: 125px;
  }
}

@media only screen and (max-width: 465px) {
  .header {
    height: 130px;
  }
}
